// >= 1200px
@media #{$extra-large-and-up}
	
	// v-lines responsive

	.v-lines
		width: 100vw
		&__inner
			width: 25vw
		&__inner:nth-child(2)
			left: 25vw
		&__inner:nth-child(3)
			left: 50vw
		&__inner:nth-child(4)
			left: 75vw

	// end v-lines responsive


	/* main screen */

	.main 
		height: 54vw
		// animation circle
		.animation-circle
			top: 14.5vw
			width: 35vw
			height: 35vw
			.logo
				width: 18vw
			&__one
				top: -12.5vw
				width: 15vw
			&__two
				top: -15.45vw
				right: 20.6vw
				width: 25vw					
			&__third
				top: -15.45vw
				right: 20.6vw
				width: 25vw
	
		// end animation circle
		// header
		header
			padding-top: 3.1vw
			height: 50%
			nav
				ul
					li
						&:not(:last-child)
							margin-right: 2.75vw
						a
							font-size: 0.8vw
		header.fixed
			height: 6.4vw 
			.main__popup-message 
				margin-top: 2.5vw
			.logo-fixed
				margin-top: 2vw
			nav
				margin-top: 2.5vw
				
	
		// end header


		&__popup-message 
			img
				width: 2.15vw
				height: 1.85vw
				margin-right: 1.9vw
	
		&__aside-right
			top: 28.45vw
			right: 2.05vw
			width: 4vw
			.scroll-link
				a
					font-size: 0.7vw
					letter-spacing: 0.15vw
				&::after
					width: 0.15vw
					height: 3.75vw
					bottom: -1.3vw
					right: -2.05vw

		&__bottom-container 
			top: 35vw		
			.header-caption
				margin-top: 3.85vw
				margin-left: 3vw
				h1
					font-size: 2.4vw
					margin-bottom: 1.1vw
				h2
					font-size: 1.8vw
					margin-bottom: 0.75vw
				p
					font-size: 0.85vw
		.language
			padding-top: 2.9vw
			padding-left: 0.65vw
			width: 3vw
			height: 7.5vw
			right: 2.7vw
			a
				font-size: 0.8vw
				img
					width: 0.5vw
				&:last-child
					margin-top: 0.75vw
			
		// letters
		&__letter-left,		
		&__letter-right
			img
				width: 12.5vw
		&__letter-right
			top: -0.7vw
		// end letters	

		// aside left

		&__aside-left
			position: absolute
			top: 7.7vw
			left: 3.65vw
			width: 4vw
			.follow-us
				margin-right: 2.8vw
				margin-bottom: 5.6vw
				&::before
					left: -2.85vw
					top: -1.2vw
					width: 0.15vw
					height: 3.75vw
				a
					font-size: 0.7vw
			.aside-item
					margin-top: 1.8vw
					a
						display: block
						img,
						svg
							width: 0.95vw
							height: 0.95vw

		// end aside left

		// popup form
		&__contact-form 
			.container 
				.row:first-child
					margin-bottom: 0.5vw
			.logo 
				img
					width: 5.4vw
					height: 3.55vw
			.close-btn 
				img
					width: 1.25vw
			.form-container 
				width: 31vw
				h1
					font-size: 1.8vw
					margin-left: 7.25vw
					margin-bottom: 4.5vw
					&::before					
						top: 0.85vw
						left: -7.25vw
						width: 2.25vw
						height: 0.2vw
				.input-field 
					label
						font-size: 1.8vw
					input
						font-size: 0.9vw
   						margin-bottom: 0.75vw
				.input-textarea 
					label
						font-size: 1.2vw
					textarea
						height: 9.25vw
				.submit-btn
					font-size: 0.7vw
					letter-spacing: 0.15vw
					padding: 0.75vw 1.5vw
					img
						width: 1vw
						margin-left: 1vw
						margin-bottom: 0.05vw
				.file-upload
					width: 11.35vw
					height: 2.75vw
					margin-top: 0.1vw
					span
						font-size: 0.8vw
						line-height: 1.8vw
						margin-top: 0.4vw
					label
						i						
							font-size: 0.85vw
							margin-left: 1.25vw
							margin-bottom: 0.2vw
				.socials 
					li
						margin-right: 1.75vw
						a
							img
								width: 1vw
			.form-description
				right: 4.8vw
				top: 25vw
				.info-item 
					margin-bottom: 2.5vw
					h4
						font-size: 1.2vw
						letter-spacing: 0.15vw
						margin-bottom: 0.25vw
					p
						font-size: 1.2vw
		
	
	
		//end popup form
					

		/* end main screen */
		

	/* Main caption */

	.top-caption
		left: 5.75vw
		font-size: 1.8vw
		margin-top: 13.5vw
		&::before
			left: -2.5vw
			top: 0.5vw
			width: 1.75vw
			height: 0.15vw

	/* End main caption */


	/* Services section */

	.services 
		.card
			padding-bottom: 5vw
			height: 38.75vw
			&__num
				font-size: 1.8vw
				top: 0.75vw
				left: 1.25vw
		.card-content 
			padding-left: 5vw!important
			.card-title
				font-size: 1.8vw!important
				padding-right: 10vw!important
				line-height: 2.25vw!important
				margin-top: 13vw!important
				margin-bottom: 1.75vw!important
			ul 
				li
					font-size: 1vw!important

	/* End services section */


	/* Clients section */

	.clients 
		h1.top-caption
			margin-top: 20vw
			margin-bottom: 7vw
		&__slider
			.slick-track
				height: 31.15vw
			.hover-container
				height: 15vw
				img
					width: 14vw
					margin: 2.5vw auto

	/* End clients section */


	/* Projects section */

	.projects
		height: 150vw
		&__right-part
			width: 49.5vw
			padding: 19.75vw 0
			.row 
				.project-container
					border-width: 0.35vw
					width: 37.5vw
					height: 21.5vw
					.logo
						img
							width: 2.55vw
							height: 2.55vw
					.redirect-link
						bottom: 1.5vw
						right: 2.25vw
						img
							width: 1.25vw
		&__left-part 
			.row
				margin-bottom: 16.5vw
			.top-caption
				margin-top: 16.5vw
			.project-number
				font-size: 1.8vw
				margin-left: 2vw
			h2
				font-size: 1.8vw
				margin-left: 4vw
			a.go-to-site
				font-size: 0.7vw
				letter-spacing: 0.15vw
				padding: 0.5vw 1vw
				margin-left: 4vw
				img
					width: 1vw
					margin-left: 1.5vw
		&__letter-left
			left: -2.75vw
			img
				width: 11.5vw
	

	/* End projects section */


	/* Section team */

	.team
		.top-caption
			margin-top: 20vw
		&__description
			font-size: 0.9vw
			padding: 0 1.6vw
			margin-bottom: 3vw
			margin-top: 20vw
		&__main-worker
			width: 25vw
			height: 25vw
			.overlay 
				.name	
					left: 1.6vw
					font-size: 1vw
				.position
					left: 1.6vw
					font-size: 0.9vw
		&__worker
			width: 12.5vw
			height: 12.5vw
			.overlay 
				.name	
					left: 1.6vw
					font-size: 1vw
				.position
					left: 1.6vw
					font-size: 0.9vw
		.container:nth-child(2) 
			.row:nth-child(1) 
				.col:nth-child(3) 
					.team__worker
						margin-right: 12.5vw
				.col:nth-child(2) 
					.team__worker:last-child
						margin-right: 12.5vw
		&__worker-black
			width: 12.5vw
			height: 12.5vw

	/* End section team */


	/* Section technology */

	.technology
		padding: 20vw 0
		&__letter-left
			top: -1.25vw
			left: -2.25vw
			img
				width: 12.5vw
		.top-caption
			margin-top: 0.65vw
		.num-stack
			font-size: 1.8vw
			margin-bottom: 2.5vw
		.block-stack
			width: 21.25vw
			height: 14vw
			padding: 2vw 2vw
			h4
				font-size: 1.2vw
				margin-bottom: 2vw
			ul
				height: 6.25vw
				line-height: 1.5vw
				li
					font-size: 1vw

	/* End section technology */


	/* Section contacts */

	.contacts
		padding: 20vw 13.25vw 8.5vw 13.25vw
		&__form-container
			padding: 3.5vw 4.5vw 3.5vw 4.5vw
			.form-caption
				font-size: 1.8vw
				margin-left: 4.75vw
				margin-bottom: 4.5vw
				&::before
					top: 0.85vw
					left: -4.75vw
					width: 2.25vw
					height: 0.2vw
			form 
				.input-field 
					label
						font-size: 1.8vw
				.input-textarea 
					label
						font-size: 1.2vw
					textarea
						font-size: 1.05vw
						margin-bottom: 1.7vw
						height: 7.5vw
				.submit-btn
					font-size: 0.7vw
					letter-spacing: 0.15vw
					padding: 0.75vw 1.5vw
					img
						width: 1vw
				.file-upload
					width: 11.35vw
					height: 2.5vw
					margin-top: 0.1vw
					span
						font-size: 0.8vw
						line-height: 1.8vw
						margin-top: 0.25vw
					label
						i	
							font-size: 0.85vw
							margin-left: 1.25vw
			.form-description
				top: -1.8vw
				right: -1.8vw
				width: 32vw
				height: 107%
				padding: 5.5vw 5.25vw
				padding-right: 1vw
				h1
					font-size: 1.8vw
					margin-bottom: 5vw
				.info-item
					margin-bottom: 2.5vw
					line-height: 1.5vw
					h3
						font-size: 1.2vw
						letter-spacing: 0.15vw
						margin-bottom: 0.25vw
					p
						font-size: 1.2vw
				.socials
					li
						margin-right: 1.75vw
						a
							img
								width: 1vw 
					

	/* End section contacts */



	/* Footer */

	footer 
		.copyright 
			span
				font-size: 0.8vw

	/* End footer */


	.pd-md-0
		padding: 0!important


// > 992px 

@media #{$large-and-down}


	/* v-lines */ 

	.v-lines
		width: 100vw
		&__inner
			width: 24.932vw
		&__inner:nth-child(2)
			left: 49.864vw
		&__inner:nth-child(3)
			left: 74.796vw
		&__inner:nth-child(4)
			left: 99.728vw

	/* end v-lines */


	/* General caption */

	.top-caption
		left: 8.636vw
		font-size: 2vw
		margin-top: 12.545vw
		margin-bottom: 0.818vw
		&::before
			left: -4.727vw
			top: 0.636vw
			width: 2.909vw
			height: 0.182vw

	/* End general caption */


	/* main screen */
	.main 
		height: 54.545vw
		// animation circle
		.animation-circle
			top: 13.182vw
			left: 50%
			transform: translate(-50%, -16%)
			width: 40.182vw
			height: 40.182vw
			.logo
				width: 18.636vw
				margin-top: 0.727vw
			&__one
				top: -12.5vw
				width: 15vw
			&__two
				top: -15.45vw
				right: 20.6vw
				width: 25vw					
			&__third
				top: -15.45vw
				right: 20.6vw
				width: 25vw
	
		// end animation circle
		// header
		header
			padding-top: 2.727vw
			height: 15%
			nav
				width: 100%
				ul
					li
						&:not(:last-child)
							margin-right: 2.364vw
						a
							font-size: 1vw

		header.fixed 
			height: 8vw
			nav
				margin-top: 2.5vw
			.logo-fixed
				margin-top: 2vw
				width: 3.5vw
			.main__popup-message
				margin-top: 2vw
	
		// end header

	
		&__popup-message 
			img
				width: 2.273vw
				height: 2.182vw
				margin-right: 2.636vw
				margin-top: 0.909vw
	
		&__aside-right
			top: 27.273vw
			right: 2vw
			width: 7.273vw
			.scroll-link
				a
					font-size: 0.909vw
					letter-spacing: 0.182vw
				&::after
					width: 0.182vw
					height: 4.818vw
					bottom: -1.273vw!important
					right: -0.909vw
		// aside left

		&__aside-left
			position: absolute
			top: 9.545vw
			left: 4.727vw
			width: 7.273vw
			.follow-us
				margin-right: 5.091vw
				margin-bottom: 6.545vw
				&::before
					left: -3.727vw
					top: -1vw!important
					width: 0.182vw
					height: 4.636vw
				a
					font-size: 0.909vw
			.aside-item
					margin-top: 1.455vw
					a
						display: block
						img,
						svg
							width: 1.364vw
							height: 1.364vw
		// end aside left


		&__bottom-container 
			top: 30.545vw		
			.header-caption
				margin-top: 8.636vw
				margin-left: 2.636vw
				h1
					font-size: 2.364vw
					margin-bottom: 0.909vw
					letter-spacing: -.9px
				h2
					font-size: 1.818vw
					margin-bottom: 0.727vw
					letter-spacing: -.0.545vw
				p
					font-size: 0.818vw
					letter-spacing: 1.0.727vw
		.language
			padding-top: 2.182vw
			padding-left: 0.818vw
			width: 3.182vw
			height: 7.545vw
			right: 5.091vw
			a
				font-size: 0.909vw
				img
					width: 0.364vw
				&:last-child
					margin-top: 1.364vw
	
	
		// letters
		&__letter-left,		
		&__letter-right
			img
				width: 12.364vw
		&__letter-left
			bottom: -3.364vw
		&__letter-right
			top: -3vw
			right: -2.091vw
		// end letters



		// popup form
		&__contact-form 
			padding: 26px 16px
			.container 
				.row:first-child
					margin-bottom: 10px
			.logo 
				img
					width: 38px
					height: 40px
			.close-btn
				margin-top: 6px
				margin-right: 5px
				img
					width: 13px
			.form-container 
				width: 330px
				h1
					font-size: 22px
					margin-left: 69px
					margin-bottom: 16px
					margin-top: 3px
					&::before					
						top: 10px
						left: -66px
						width: 25px
						height: 2px
				.input-field
					margin-bottom: 0
					label
						font-size: 22px
						transform: translateY(37%)
					input
						font-size: 0.9vw
   						margin-bottom: 0.75vw
						margin-bottom: 0
				.input-textarea 
					margin-top: 14px
					margin-bottom: 8px
					label
						font-size: 14px
					textarea
						height: 88px
				.submit-btn
					font-family: "ProximaNovaBold", sans-serif
					font-size: 10px
					letter-spacing: 1px
					padding: 9px 16px
					margin-left: 13px
					img
						width: 15px
						margin-left: 18px
						margin-bottom: 4px
				.file-upload
					float: none
					width: 11.35vw
					height: 2.75vw
					margin-top: 0.1vw
					span
						font-size: 0.8vw
						line-height: 1.8vw
						margin-top: 0.4vw
					label
						i						
							font-size: 0.85vw
							margin-left: 1.25vw
							margin-bottom: 0.2vw
				.socials
					text-align: left
					li
						margin-right: 28px
						a
							img
								width: 13px
			.form-description
				right: 53px
				top: 304px
				.info-item 
					margin-bottom: 0
					h4
						font-size: 1.2vw
						letter-spacing: 0.15vw
						margin-bottom: 0.25vw
					p
						font-size: 1.2vw
		
	
	
		//end popup form


		/* End main screen */

		
	/* Services section */

	.services 
		.card
			padding-bottom: 4.545vw
			height: 38.273vw
			width: 25vw
			&__num
				font-size: 2vw
				top: 0.636vw
				left: 1.364vw
		.card-content 
			padding-left: 3.545vw!important
			.card-title
				font-size: 2vw!important
				padding-right: 0!important
				line-height: 2.545vw!important
				margin-top: 10.273vw!important
				margin-bottom: 1.273vw!important
				width: 11.364vw
			ul 
				line-height: 1.909vw
				li
					font-size: 1.273vw!important
		.second-card
			top: 3.636vw
		.third-card
			top: 7.273vw
		.four-card
			top: 10.909vw

	/* End services section */


	/* Clients section */

	.clients 
		h1.top-caption
			margin-top: 21.545vw
			margin-bottom: 1.545vw
		&__slider
			.slick-track
				height: 31.091vw
			.hover-container
				height: 14.545vw
				img
					width: 15.455vw
					margin: 2.455vw auto

	/* End clients section */


	/* Projects section */


	.projects
		height: 152.273vw
		&__right-part
			width: 50%
			padding: 20vw 0
			.row 
				.project-container
					border-width: 0.35vw
					width: 37.5vw
					height: 22.5vw
					.logo
						img
							width: 2.55vw
							height: 2.55vw
					.redirect-link
						bottom: 1.5vw
						right: 2.25vw
						img
							width: 1.25vw
		&__left-part
			.row
				margin-bottom: 14.5vw
				&:first-child
					margin-bottom: 2vw
			.top-caption
				margin-top: 19.5vw
				left: 5.727vw
			.project-number
				font-size: 1.8vw
				margin-left: 2.5vw
			h2
				font-size: 2.182vw
				margin-left: 1vw
				margin-bottom: 1.545vw
			a.go-to-site
				font-family: "ProximaNovaBold", sans-serif
				font-size: 0.909vw
				letter-spacing: 0.15vw
				padding: 1.091vw
				margin-left: 1vw
				width: 97%
				text-align: center
				img
					width: 1.5vw
					margin-left: 3.5vw
		&__letter-left
			left: -2.75vw
			margin-top: 1.818vw
			img
				width: 12.727vw
	

	/* End projects section */


	/* Section team */

	.team
		margin-bottom: 18.818vw
		.top-caption
			margin-top: 19.545vw
			left: 9.545vw
		&__description
			font-size: 1.1vw
			padding: 0 1.6vw
			margin-bottom: 2vw
			margin-top: 20vw
		&__main-worker
			width: 25vw
			height: 25vw
			.overlay 
				.name	
					left: 1.6vw
					font-size: 1vw
				.position
					left: 1.6vw
					font-size: 0.9vw
		&__worker
			width: 12.5vw
			height: 12.5vw
			.overlay 
				.name	
					left: 1.6vw
					font-size: 1vw
				.position
					left: 1.6vw
					font-size: 0.9vw
		.container:nth-child(2) 
			.row:nth-child(1) 
				.col:nth-child(3) 
					.team__worker
						margin-right: 12.5vw
						&:last-child
							float: left
				.col:nth-child(2) 
					.team__worker:last-child
						margin-right: 12.5vw
			.row:nth-child(2)
				.col:nth-child(1)
					.team__worker
						display: none
					
		&__worker-black
			width: 12.5vw
			height: 12.5vw

	/* End section team */


	/* Section technology */

	.pd-md-0
		padding: 0!important

	.technology
		padding: 20vw 0
		padding-bottom: 18vw
		.container
			.row:first-child
				margin-bottom: 7.091vw
		&__letter-left
			top: -1.25vw
			left: -2.25vw
			img
				width: 12.5vw
		.top-caption
			margin-top: 0.65vw
		.num-stack
			font-size: 1.8vw
			margin-bottom: 2.5vw
		.block-stack
			width: 21.25vw
			height: 14vw
			padding: 2vw 2vw
			h4
				font-size: 1.2vw
				margin-bottom: 2vw
				margin-top: 0
			ul
				height: 6.25vw
				line-height: 1.5vw
				li
					font-size: 1vw

	/* End section technology */


	/* Section contacts */

	.contacts
		padding: 20vw 5.25vw 12.5vw 5.25vw
		&__form-container
			padding: 5vw 0 3.5vw 5vw
			.form-caption
				font-size: 1.8vw
				margin-left: 8.75vw
				margin-bottom: 4.5vw
				&::before
					top: 0.85vw
					left: -8.75vw
					width: 2.25vw
					height: 0.2vw
			form 
				width: 100%
				.input-field 
					margin-bottom: 6px
					label
						font-size: 2.1vw
						transform: translateY(15%)
				.input-textarea 
					label
						font-size: 1.45vw
					textarea
						font-size: 1.05vw
						margin-bottom: 1.7vw
						height: 10.7vw
				.submit-btn
					font-family: "ProximaNovaBold", sans-serif
					font-size: 10px
					letter-spacing: 0.15vw
					padding: 1.2vw 2.3vw
					margin-left: 12px
					img
						width: 1vw
				.file-upload
					width: 14.35vw
					height: 3vw
					margin-top: .45vw
					span
						font-size: 1vw
						line-height: 1.8vw
						margin-top: 0.45vw
					label
						i	
							font-size: 0.85vw
							margin-left: 1.25vw
			.form-description
				top: -2vw
				right: -5vw
				width: 37vw
				height: 107%
				padding: 6.7vw 6.25vw
				padding-right: 1vw
				opacity: 1
				h1
					font-size: 1.8vw
					margin-bottom: 7vw
				.info-item
					margin-bottom: 50px
					line-height: 1.5vw
					&:last-child
						margin-bottom: 23px
					h3
						font-size: 16px
						letter-spacing: 2px
						margin-bottom: 13px
					p
						font-size: 1.2vw
				.socials
					li
						margin-right: 20px
						a
							img
								width: 1vw 
					

	/* End section contacts */
	


	/* Footer */

	footer
		padding: 20px 0
		.copyright 
			span
				font-size: 14px

	/* End footer */




//	> 601px

@media #{$medium-and-down} 


	/* main screen */
	.main 
		height: 55vw
		// animation circle
		.animation-circle
			top: 17.182vw
			left: 50%
			transform: translate(-50%, -16%)
			&__one
				top: -12.5vw
				width: 15vw
			&__two
				top: -15.45vw
				right: 20.6vw
				width: 25vw					
			&__third
				top: -15.45vw
				right: 20.6vw
				width: 25vw
	
		// end animation circle
		// header
		header
			padding-top: 3vw
			height: 13%
			nav
				width: 100%
				ul
					li
						&:not(:last-child)
							margin-right: 2.264vw
						a
							font-size: 1.09vw
		header.fixed 
			height: 65px
			nav
				margin-top: 2.5vw
			.logo-fixed
				margin-top: 2.5vw
				width: 3.5vw
			.main__popup-message
				margin-top: 2.3vw
		// end header

		&__right-background 
			img
				height: auto
	
		&__popup-message 
			img
				width: 2.5vw
				height: 2.28vw
	
		&__aside-right
			right: 3vw
			.scroll-link
				a
					font-size: 0.909vw
					letter-spacing: 0.182vw
				&::after
					height: 29px
					width: 1px
					right: -1px
					bottom: -4px!important
		// aside left

		&__aside-left
			position: absolute
			top: 9.545vw
			left: 4.727vw
			width: 7.273vw
			.follow-us
				margin-right: 5.81vw
				margin-bottom: 7.545vw
				&::before
					left: -24px
					top: 1px!important
					width: 1px
					height: 29px
				a
					font-size: 0.909vw
			.aside-item
					margin-top: 1.1vw
					a
						img,
						svg
							width: 1.2vw
							height: 1.2vw
		// end aside left


		&__bottom-container 
			top: 33.545vw		
			.header-caption
				margin-top: 9.636vw
				margin-left: 0.636vw
				p
					font-size: 1.1vw
					letter-spacing: 2px
		.language
			padding-top: .5vw
			padding-left: .8vw
			right: 5.4vw
			a
				font-size: 0.909vw
				&:last-child
					margin-top: 0
	
	
		// letters
		&__letter-left,		
		&__letter-right
			img
				width: 12.364vw
		&__letter-left
			bottom: -3.364vw
		&__letter-right
			top: -3vw
			right: -2.091vw
		// end letters



		// popup form
		&__contact-form 
			padding: 4.333vw 2.667vw
			.container 
				.row:first-child
					margin-bottom: 1.667vw
			.logo 
				img
					width: 6.333vw
					height: 6.667vw
			.close-btn
				margin-top: 1vw
				margin-right: 0.833vw
				img
					width: 2.167vw
			.form-container 
				width: 55vw
				h1
					font-size: 2.8vw
					margin-left: 11.5vw
					margin-bottom: 2.667vw
					margin-top: 0.5vw
					&::before					
						top: 1.267vw
						left: -11vw
						width: 4.167vw
						height: 0.333vw
				.input-field
					margin-bottom: 0
					label
						font-size: 2.7vw
						transform: translateY(37%)
					label.active
						transform: translateY(-15%) scale(.7)
					input
						font-size: 2vw
   						margin-bottom: 0.75vw
						margin-bottom: 0
				.input-textarea 
					margin-top: 2.333vw
					margin-bottom: 1.333vw
					label
						font-size: 2.333vw
					textarea
						height: 14.667vw
				.submit-btn
					font-size: 1.667vw
					letter-spacing: 0.2vw
					padding: 1vw 2vw
					margin-left: 1.767vw
					img
						width: 2.5vw
						margin-left: 3vw
						margin-bottom: 0.667vw
				.file-upload
					float: none
					width: 19.35vw
					height: 4.75vw
					margin-top: .1vw
					span
						font-size: 1.5vw
						line-height: 3.8vw
						margin-top: 0.4vw
					label
						i						
							font-size: 1.85vw
							margin-left: 1.25vw
							margin-bottom: 0.1vw
				.socials
					text-align: left
					li
						margin-right: 4.667vw
						a
							img
								width: 2.167vw
			.form-description
				right: 7.833vw
				top: 48.667vw
				.info-item 
					margin-bottom: 0
					h4
						font-size: 2.5vw
						letter-spacing: 0.15vw
						margin-bottom: 0.25vw
					p
						font-size: 1.8vw
		
	
	
		//end popup form


		/* End main screen */


	/* Projects */

	.projects
		&__left-part 
			a.go-to-site
				font-size: 1.2vw
				width: 100%
				img
					margin-left: 0.5vw
					margin-bottom: .2vw
		&__right-part 
			.row 
				.project-container 
					.logo
						width: 10%
						height: auto
					.redirect-link 
						img
							width: 1.5vw
		

	/* End projects */


	/* Team */

	.team
		&__description
			font-size: 1.2vw
	/* End team */


	/* Technology section */

	.technology 
		.top-caption
			left: 6.636vw

	/* End techology section */


	/* Contacts */

	.contacts
		&__form-container 
			.form-caption
				font-size: 2.2vw
			.form-description 
				padding: 7vw 6.25vw
				padding-right: 2vw
				h1
					font-size: 2.2vw
				.info-item 
					margin-bottom: 1vw
					line-height: 2vw
					p
						font-size: 1.9vw
					h3
						font-size: 2vw
						margin-bottom: 1vw
				.socials 
					li 
						margin-right: 1.5vw
						a 
							img
								width: 1.5vw
			form 
				width: 100%
				.input-field 
					margin: 0
					margin-bottom: 2vw
					label
						//transform: translateY(100%)
				.input-textarea 
					label
						font-size: 1.7vw	
				.submit-btn
					font-size: 1.3vw
					padding: 1.2vw 1.3vw
					margin-left: 1vw
					img
						width: 1.3vw
						margin-left: .5vw
				.file-upload
					width: 15.35vw
					height: 4vw
					margin-top: 0
					span
						font-size: 1.4vw
						margin-top: 1.1vw
					label
						i
							font-size: 1.5vw
							margin-left: .25vw
		
		

	/* End contacts */



	/* Footer */

	footer 
		padding: 2vw 0
		.copyright 
			span
				font-size: 10px

	/* End footer */

	
// <= 600
@media #{$small-and-down} 
	
	// v-lines

	.v-lines
		display: none

	// end v-lines


	/* Home page */  

	.main 
		height: 100vh
		header 
			nav
				display: none
			.logo-fixed
				display: none
		&__aside-right
			display: none
		.animation-circle
			top: 218px
			background-color: transparent
			width: 100%
			height: 100%
			border-radius: 0
			pointer-events: none
			.logo
				width: 357px
				height: 144px
			&__one,
			&__two,
			&__third
				display: none
		&__aside-left
			height: 100%
			top: 0
			left: 0
			width: 70px
			background-color: #111
			width: 70px
			z-index: 1
			.follow-us
				margin-right: 0
				margin-bottom: 0
				margin-top: 178px
				&::before
					left: -58px
					top: -24px !important
					width: 3px
					height: 73px
				a
					font-size: 14px
			.aside-item.fh
				margin-top: 96px
			.aside-item 
				margin-top: 30px
				margin-left: 27px
				a 
					display: inline-block
					svg, 
					img
						width: 20px
						height: 20px
		&__right-background
			width: 100%
			height: 100%
			img
				height: 100%
		.language
			background-color: transparent
			width: 50px
			height: auto
			padding-top: 0
			padding-left: 0
			right: 10px
			bottom: 20px
			a
				font-size: 16px
				img
					width: 10px
					vertical-align: initial
		&__popup-message 
			margin-right: 60px
			margin-top: 38px
			img
				width: 40px
				height: 40px
				margin-right: 10px
				margin-top: 0
	
		&__bottom-container
			top: 747px
			left: 104px
			.header-caption
				margin: 0
				h1
					font-size: 36px
					margin-top: 0
					margin-bottom: 16px
				h2
					font-size: 30px
					margin-bottom: 5px
				p
					font-size: 15px
					margin-bottom: 0
		&__letter-left, 
		&__letter-right 
			img
				width: 200px
		&__letter-right 
			top: -20px
			right: -20px
		&__letter-left
			bottom: -60px
			left: 50px
	

	/* End home page */  
  

	/* Services section */

	.services 
		.card
			width: 100%
			height: 100vh	
			margin: 0
			&__num
				font-size: 41px
				top: 10px
				left: 20px
			.card-content 
				.card-title
					font-size: 42px !important
					line-height: 40px!important
					margin-top: 50%!important
					margin-left: 25% !important
					margin-bottom: 25px!important
					width: 50vw
				ul
					line-height: 35px
					margin-left: 25%
					li
						font-size: 24px !important

	/* End services section */



@media screen and (max-width: 1600px)
	/* main screen */
	.main 
		&__aside-left
			.follow-us
				&::before
					top: -0.9vw
		&__aside-right 
			.scroll-link
				&::after
					bottom: -1.1vw
	/* end main screen */


@media screen and (max-width: 1366px)
	.main
		&__aside-right 
			.scroll-link::after
				bottom: -1vw

@media screen and (max-width: 992px) 
	.coming-soon 
		.animation-circle
			width: 630.9px
			height: 630.28px
			.logo-text
				top: 37%
				left: 46%
				svg
					width: 240px
			.loading
				font-size: 26px
		&__letter-left img, 
		&__letter-right img
			width: 200px
	
	
@media screen and (max-width: 768px)
	.coming-soon 
		.animation-circle
			width: 540px
			height: 540px
			.logo
				top: 42%
				left: 17%
				&__planet1,
				&__planet2
					width: 100px
					height: 100px
					
			.logo-text
				top: 40%
				left: 42%
				svg
					width: 215px
			.loading
				font-size: 26px
			.logo__planet1-inner,
				width: 90px
				height: 90px
			.logo__planet2-inner
				width: 80px
				height: 87px
		&__letter-left img, 
		&__letter-right img
			width: 145px
		&__letter-right
			right: -26px
			top: -44px
		&__letter-left
			bottom: -68px
			left: -6px

@media screen and (max-width: 567px) 
	.coming-soon 
		background-size: contain
		.animation-circle
			width: 400px
			height: 400px
			.logo-text
				svg
					width: 150px
			.loading
				font-size: 18px
			.logo
				top: 38%
				left: 14%
	
@media screen and (max-width: 425px)
	.coming-soon 
		.animation-circle
			top: 35%
			width: 310px
			height: 310px
			.logo__planet1,
			.logo__planet2
				width: 70px
				height: 70px
				border-width: 2px
			.logo__planet1-inner
				width: 55px
				height: 64px
				&::before
					width: 12px
					height: 12px
			.logo__planet2-inner
				width: 60px
				height: 67px
			.logo-text
				svg
					width: 115px
			.loading
				font-size: 14px
			.logo
				top: 38%
				left: 14%
		&__letter-left img, 
		&__letter-right img
			width: 120px
		.bg
			top: 0
			left: 0
			width: 100%
	
	